@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
:root {
    --purple: hsl(259, 100%, 65%);
    --big: 32px;
    --bigger: 90px;
    --off-white: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Light-red: hsl(0, 100%, 67%);
}

body {
    background-color: var(--off-white);
    font-family: 'Poppins', sans-serif;
}
.main{
    background-color:var(--white) ;
    width: 40%;
    padding-left: 30px;
    border-radius: 40px;
    border-bottom-right-radius:200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;

}

#all{
    padding: 2%;
    width: 100%;
}

.container {
    width: 100%; 
    color: var(--Smokey-grey);
}


.sectionA {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3,  1fr);
    width: 76%;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
    justify-content: space-between;
    grid-column: span 3;
    place-items: start;
    width: 100%;
}

label{
    width: max(33%); 
    margin:0.5em 0;
    
}

.input{
    width: 70%;
    padding:10px ;
    border: 1px solid var(--Light-grey);
    border-radius: 10px;
    color: var(--Smokey-grey);
    font-size: var(--big);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h4{
    width: 10%; 
    margin:0.5em ;
    margin-left: 0;
}

input:hover {
    border: 1px solid var(--purple);
    color: black;
    cursor: pointer;
}

.input:focus {
    border: 1px solid var(--purple) !important;
    color: black !important;
    box-shadow: 0 0 5px var(--purple) !important; 
    font-weight: bold !important;
    outline: none !important; 
}

.input:not(:focus) {
    border-color: var(--Light-grey) !important;
}

.input:active {
    border: 1.5px solid var(--purple);
}

.inputError{
    border: 1px solid var(--Smokey-grey);
}

.btn {
    width: 6%;
    background-color: var(--purple);
    border-radius: 3em;
    padding: 1em;
    /* -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:; */
}

.btn:hover {
    background-color: black;
    cursor: pointer;
}

.flex {
    width: 90%;
    margin: 0;
    display: flex;
    
    align-items: center;
}

hr {
    width: 100%;
    color: var(--Light-grey);
}

.txt {
    font-size: var(--bigger);
    line-height: 1.1;
}

.text {
    color: var(--purple);
    font-size: var(--bigger);
    width: 100%;
}

  
@keyframes countUp {
    from {
      opacity: 0;
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
}
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
  }
  
  .age-value-animation {
    animation: countUp 5s ease forwards;
    -webkit-animation: countUp 5s ease forwards;
}



p,
strong,
span {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.span{
    color: var(--Light-red);
    font-style: italic;
    font-size: small;
}

/* Media Queries for Different Screen Sizes */

@media (max-width: 576px) {
    .main {
        width: 90%;
        height: auto;
        margin: 25% auto;
        border-radius: 20px;
        border-bottom-right-radius:100px;
        /*-webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        -webkit-border-radius: 20px;
                                */
}
.container{
    width: 100%;
}
.sectionA{
    width: 90%;
}

    .flex {
    display: flex;
    position: relative;
    justify-content: center;
    height: 55px;
    }


    hr {
    display: block;
    position: absolute;
    align-self: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--Light-grey);
    }

    img{
    position: absolute;
    top: 0;
    }
  
    form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
    justify-content: space-evenly;
    grid-column: span 3;
    place-items: start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    }

    label{
    width: max(33%); 
    margin:0.5em 0;

    }

    input{
    width: 12%;
    padding:5px;
    border: 1px solid var(--Light-grey);
    border-radius:5px;
    color: var(--Smokey-grey);
    font-size: 4px;
    /* -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:; */
}

.input:focus {
    border: 1px solid var(--purple) !important;
    color: black !important;
    box-shadow: 0 0 5px var(--purple) !important; 
    font-weight: bold !important;
    outline: none !important; 
}

.input:not(:focus) {
    border-color: var(--Light-grey) !important;
}

.input:active {
    border: 1px solid var(--purple);
    color: black;
    box-shadow: 0 0 5px var(--purple); 
    font-weight: bold;
    outline: none; 
}
input:hover {
    border: 1px solid var(--purple);
    color: black;
}

.btn:hover {
    background-color: black !important;
}
    .txt,
    .text {
    font-size: 50px;
    }
    .btn:not(:hover) {
        background-color: var(--purple) !important;
    }

}

@media (min-width: 577px) and (max-width: 840px) {
    .main {
        width: 90%;
        height: auto;
        margin: 25% auto;
        border-radius: 20px;
        border-bottom-right-radius:100px;
        /*-webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        -webkit-border-radius: 20px;
        -webkit-border-radius: 20px; */
}
    .container {
        width: 100%;
    }
    .sectionA {
        width: 90%;
    }

    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 20px;
        justify-content: space-evenly;
        grid-column: span 3;
        place-items: start;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    label{
        width: max(33%); 
        margin:0.5em 0;
        
    }
  
    .input:focus {
        border: 1px solid var(--purple);
        color: black;
        box-shadow: 0 0 5px var(--purple); 
        font-weight: bold;
        outline: none; 
    }

    .input:not(:focus) {
        border-color: var(--Light-grey) !important;
    }
    input:hover {
        border: 1px solid var(--purple);
        color: black;
    }

    .txt,
    .text {
        font-size: 80px;
    }
    
    h4 {
        width: 65%;
        margin:0.5em ;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        width: 80%;
        margin: 0;
        padding: 0;
        color: var(--Light-grey);
    }
}


@media (min-width: 1096px) and (max-width: 1496px) {
    .main {
        width: 60%;
        height: auto; 
        margin: 20% auto;
    }

    .txt,
    .text {
        font-size: var(--bigger);
    }

    .sectionA {
        width: 75%;
    }
    .input:focus {
        border: 1px solid var(--purple);
        color: black;
        box-shadow: 0 0 5px var(--purple); 
        font-weight: bold;
        outline: none; 
    }

    .input:not(:focus) {
        border-color: var(--Light-grey) !important;
    }
    input:hover {
        border: 1px solid var(--purple);
        color: black;
    }

    hr {
        width: 80%;
        margin: 0;
        padding: 0;
        color: var(--Light-grey);
    }
    
}


@media (min-width: 840px) and (max-width:1096px) {
    .main{
        background-color:var(--white) ;
        width: 80%;
        padding-left: 30px;
        border-radius: 40px;
        border-bottom-right-radius:200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        height: auto;
        padding-bottom: 0;
        /* -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px; */
}
    #all{
        padding: 2%;
        width: 100%;
    }
    .container {
        width: 80%;
        color: var(--Smokey-grey);
    }
    
    .sectionA {
        display: grid;
        gap: 0;
        grid-template-columns: repeat(3,  1fr);
        width: 75% ;
    }
    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 20px;
        justify-content: space-between;
        grid-column: span 3;
        place-items: start;
        width: 100%;
    }
    
    label{
        width: max(33%); 
        margin:0.5em 0;
        
    }

    input{
        width: 20%;
        padding:10px ;
        border: 1px solid var(--Light-grey);
        border-radius: 10px;
        color: var(--Smokey-grey);
        font-size: var(--big);
        /* -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:; */
}
.input:focus {
    border: 1px solid var(--purple);
    color: black;
    box-shadow: 0 0 5px var(--purple); 
    font-weight: bold;
    outline: none; 
}

.input:not(:focus) {
    border-color: var(--Light-grey) !important;
}

input:hover {
    border: 1px solid var(--purple);
    color: black;
    cursor: pointer;
}
    .txt,
    .text {
        font-size: 90px;
    }
    input{
        font-size: var(--big);
    }
    h4{
        width: 33%; 
        margin:0.5em ;
        margin-left: 0;
    }
    hr {
        width: 80%;
        margin: 0;
        padding: 0;
        color: var(--Light-grey);
    }
    img{
        width: 2%;
        background-color: var(--purple) ;
        border-radius: 3em;
        padding: 1em;
    }
}